.barGraph {
    display: flex;
    width: 835px;
    height: 320px;
    border-radius: 5px;
    background-color: #FBFBFB;
    margin: 10px 0 ;
}
.txtLegend {
    color: black;
}
.custom_tooltip {
    background-color: red;
    padding: 2px;
    font-weight: 10px !important;
    color: white;
}