.profil {
    display: flex;
    width: 95%;
    flex-direction: column;
    margin: 0px 80px;
    align-items: center;
    z-index: 1;
}
.greetings {
    display: flex;
    flex-direction: column;
    width: 1050px;
}
.dashContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.dashboard {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    width: 835px;
}

strong {
    color: red;
}

.charts {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}
.rightPanel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0;
}

@media screen and (max-width: 1200px) {
    .dashContainer {
        display: flex;
        flex-direction: column;
        width: 900px;
        gap: 10px;
        align-items: center;
    }
    .profil {
        display: flex;
        width:75%;
        flex-direction: column;
        margin: 0px 60px;
        align-items: center;
        z-index: 1;
    }
    .rightPanel {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 30px 0;
        gap: 5px;
    }
    .greetings {
        display: flex;
        flex-direction: column;
        width: 750px;
    }
}